<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CommonMarzzan.Properties.Settings.MarzzanConnectionString2"
            connectionString="Data Source=servidorinfo;Initial Catalog=Marzzan-WebActual;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
        <add name="CommonMarzzan.Properties.Settings.MarzzanBejermanConnectionString"
            connectionString="Data Source=servidorinfo;Initial Catalog=Marzzan-Bejerman;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

<!--

Marzzan Bejerman Produccion
<add name="CommonMarzzan.Properties.Settings.MarzzanConnectionString2"
            connectionString="Data Source=srvtestbjrm01;Initial Catalog=SBDALCD3;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
            
Marzzan Bejerman Test
<add name="CommonMarzzan.Properties.Settings.MarzzanConnectionString2"
            connectionString="Data Source=srvtestbjrm01;Initial Catalog=SBDPLCD3;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
            
            
Marzzan Web Produccion
<add name="CommonMarzzan.Properties.Settings.MarzzanConnectionString2"
            connectionString="Data Source=srvweblcda;Initial Catalog=MarzzanWeb;Persist Security Info=True;User ID=sa;Password=sa123456"
            providerName="System.Data.SqlClient" />
            
Marzzan Web Test
<add name="CommonMarzzan.Properties.Settings.MarzzanConnectionString2"
            connectionString="Data Source=srvweblcda;Initial Catalog=MarzzanWebTest;Persist Security Info=True;User ID=sa;Password=sa123456"
            providerName="System.Data.SqlClient" />
            
ServidorInfo Web
<add name="CommonMarzzan.Properties.Settings.MarzzanConnectionString2"
            connectionString="Data Source=servidorinfo;Initial Catalog=Marzzan-WebActual;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
            
            
ServidorInfo Marzzan
<add name="CommonMarzzan.Properties.Settings.MarzzanConnectionString2"
            connectionString="Data Source=servidorinfo;Initial Catalog=Marzzan-Bejerman;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
            
            
Martin-Pc Web
<add name="CommonMarzzan.Properties.Settings.MarzzanConnectionString2"
            connectionString="Data Source=localhost;Initial Catalog=Marzzan-WebActual;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
            

            
Infolegacy Web

<add name="CommonMarzzan.Properties.Settings.MarzzanConnectionString2"
            connectionString="data source=localhost;integrated security=SSPI;initial catalog=v0030197_Marzzan;User ID=v0030197_admin;Password=marzzan123"
            providerName="System.Data.SqlClient" />
            
-->